[submodule "benchmark/nvbench"]
	path = benchmark/nvbench
	url = https://github.com/NVIDIA/nvbench.git
[submodule "python/pybind11"]
	path = python/pybind11
	url = https://github.com/pybind/pybind11.git
